[Unit]
Description=PiGi service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/nymea/PiGi
ExecStart=/usr/bin/python /home/nymea/PiGi/PiGi.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
